# MySQL Database Configuration
# Copy this file to .env and fill in your database credentials
DB_HOST=l3855uft9zao23e2.cbetxkdyhwsb.us-east-1.rds.amazonaws.com	
DB_USER=e0x9ofum2wfu2xte
DB_PASSWORD=tp2u61lmhd3qhd84
DB_NAME=tglm6erfdqgvbcn7
DB_PORT=3306

# Server Configuration
PORT=3000

